@model Memberships.ViewModel.UserModel

<div data-register-user-area>
    <div class="panel-group register-user-panel">
        <div class="panel">
            <div class="panel-heading register-user-panel-heading">
                <h3 class="panel-title">Register For Free C# Training</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>