@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-lg-3 col-md-4 col-sm-5">
        <br />
    </div> 

    <div class="col-lg-9 col-md-8 col-sm-7">
         
    </div>
</div>

<div class="row">

    <div class="col-lg-3 col-md-4 col-sm-5">
        @if (!User.Identity.IsAuthenticated)
        {
             @Html.Partial("_RegisterUserPartial")
                <br />
        }
        
    </div>

    <div class="col-lg-9 col-md-8 col-sm-7">

    </div>
</div>